/* Paleta de colores */
:root {
  --color1: #402B18;
  --color2: #735D49;
  --color3: #BFA38A;
  --color4: #D9BEA7;
  --color5: #260F01;
}


/* IMAGEN LOGO */
.img-logo {
  width: 120px;
}

/* NAVBAR */
.navbar {
  background-color: #735D49;
  color: white;
}

.nav-link {
  transition: background-color 0.3s ease, border-radius 0.3s ease;
  border-radius: 10%; /* Aplica el border-radius siempre */
}

.nav-link:hover {
  background-color: #402B18;
  border-radius: 10%;
}


/* FOOTER */
footer {
  background-color: #735D49;
}



/* CONTENIDO */
.carousel-container {
  max-width: 800px; /* Ancho máximo del contenedor del carrusel */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.carousel-image {
  max-height: 400px; /* Altura máxima de las imágenes */
  width: auto; /* Ancho automático para mantener la proporción */
  margin: 0 auto; /* Centra las imágenes horizontalmente */
}

.card-product {
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 

}

.price {
  font-weight: bold;
  font-size: large;
}
.cards {
  display: flex;
  justify-content: center;
}

.text-index {
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 60px;
}


/* Tabla checkout carrito */


/* LOGIN */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
th,
td {
  text-align: center;
  vertical-align: middle;
}



/* parley*/
h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
body,
input,
select {
  font-family: "Josefin Sans", sans-serif;
}
.container > h1 {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 4em;
  }
  .contact {
    grid-template-columns: auto auto !important;
  }
  .grid-3 {
    display: grid;
    grid-template-columns: auto auto;
  }
  .show .accordion-body {
    max-height: 550px;
  }
  .row {
    flex-direction: row !important;
  }
}
.row {
  display: flex;
  align-items: stretch;
  flex-direction: column-reverse;
}
.grid-2 {
  display: grid;
  grid-template-columns: auto auto;
}
.column {
  padding: 2em;
}
.info {
  flex-grow: 8;
}
.cart-items {
  background: #e0e0e0;
  height: 100vh;
  flex-grow: 1;
}
.form-input {
  padding: 10px;
  border-radius: 0;
  border: 1px solid #e0e0e0;
  margin: 5px;
  width: -webkit-fill-available;
}
.form-btn {
  text-transform: uppercase;
  background: black;
  color: white;
  padding: 15px;
  border: none;
  cursor: pointer;
  margin: 10px 0;
  float: right;
}
.contact {
  display: grid;
  grid-template-columns: auto;
}
.address {
  display: grid;
  grid-template-columns: auto;
}
table {
  border-bottom: 1px solid black;
}
table td {
  padding: 10px;
}
.product-title span {
  font-size: 0.8rem;
}
.product-qty,
.product-price {
  text-align: center;
}
.product-img img {
  max-width: 70px;
}
.accordion-head {
  border-bottom: 1px solid #e0e0e0;
}
.accordion-head i {
  float: right;
  position: relative;
  top: -40px;
  right: 10px;
}
.accordion-body {
  padding-top: 20px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.6s;
}
.show .accordion-body {
  max-height: 680px;
}
.shipping-option {
  background: #e0e0e0;
  padding: 20px;
  margin-bottom: 2px;
}
.shipping-option span {
  float: right;
}
.shipping-option p {
  color: #757575;
  font-size: 0.85rem;
}
.parsley-errors-list {
  font-size: 0.7em !important;
}
