{% extends 'layout.html' %} {% load static %}



{% block content %}




  
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}

    <div class="card text-center ">
      <div class="card-header">
        Formulario actualizacion stock excel
      </div>
      <div class="card-body">
        <form action="enviar formulario" method="get">
          <p>Subir excel: <input type="file" />
          
          <p>
              <input type="submit" value="subir excel" href="home.html">
            
          </p>
        </form>
      </div>
    </div>
    <h2>Agregar producto</h2>
    <div class="card text-center">
        <div class="card-body">
            <form action="/registrarproduct/" method="POST">{% csrf_token %}
                <div class="form-group">
                    <input type="text" id="txtProductId" name="txtProductId" class="form-control" placeholder="id producto"
                        minlength="6" maxlength="6" required>
                </div>
                <div class="form-group">
                    <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre"
                        maxlength="50" required>
                </div>
                <div class="form-group">
                    <input type="text" id="stock" name="stock" class="form-control" placeholder="stock"  required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
    
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Listado de Productos</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>stock</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in products %}
                    <tr>
                        <td>{{p.ProductId}}</td>
                        <td>{{p.nombre}}</td>
                        <td>{{p.stock_disponible}}</td>
                        <td><a href="edicionproduct/{{p.ProductId}}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminarproduct/{{p.ProductId}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

