{% extends 'layout.html' %} 
{% load static %}
{% load humanize %}

{% block title %}Log in{% endblock %}

{% block content %}

<div class="container d-flex justify-content-center">
  <div class="col-12 col-md-6 col-lg-4 my-auto">
    <form action="/login" method="POST" style="width: 100%;" class="mt-5"> 
      {% csrf_token %}
      <div class="card border-0">
        <div class="mb-5">
          <h2 class="text-center">
            Inicio de sesión
          </h2>
        </div>
        <div>
          <div class="mb-3 row">
            <label for="email" class="col-sm-3 col-form-label fw-bold">
              Correo electrónico
            </label>
            <div class="col-sm-9">
                <input class="form-control" type="email" name="email_login" id="email_login" maxlength=100 required>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="password" class="col-sm-3 col-form-label fw-bold">
              Contraseña
            </label>
            <div class="col-sm-9">
                <input class="form-control" type="password" name="password_login" id="password_login" required>
            </div>
          </div>
        </div>
        <div class="card-footer text-center bg-transparent border-0 mb-4">
          <div class="d-grid gap-2 col-6 mx-auto mt-2">
            <input class="btn btn-primary" id="boton-login" type="submit" value="Log in">
            <a class="btn btn-secondary" href="{% url 'register' %}">
              Registrarse
            </a>
            <a class="inicio-a mt-5" href="{% url 'home' %}">
              Volver al inicio
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}