{% extends 'layout.html' %} 
{% load static %}
{% load humanize %}

{% block title %}Cambio de contraseña{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
  <div class="col-12 col-md-6 col-lg-4 my-auto">
    <form method="post" style="width: 100%;" class="mt-5 my-5 text-center">
      <div class="mb-5">
        <h2 class="text-center mt-2">
          Cambio de contraseña
        </h2>
        <p>Enviaremos un correo electrónico con las instrucciones para cambiar tu contraseña.</p>
      </div> 
      {% csrf_token %}
      {{ form }}
      <!-- <input type="email" class="form-control" name="email" placeholder="Correo electrónico"> -->
      <input type="submit" name="Send email" class="btn btn-primary mt-2" value="Recuperar contraseña" >
    </form>
  </div>
</div>
{% endblock %}

